<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h2 th:text="${teksti}">testi</h2>

        <ol>
            <li th:each="viesti: ${viestit}">
                <span th:text="${viesti.getViesti() + ' t: ' + viesti.getKayttaja()}">vastaus</span>
                
            </li>
        </ol>
        
        <form method="POST">
            <h4>Viesti (MAX 300 kirjainta)</h4>
            <textarea rows="6" cols="50" name="viesti"/>
            <div></div>
            <h4>Lähettäjä (MAX 15 kirjainta)</h4>
            <input type="text" name="kayttaja"/>
            
            <input type="submit" value="Click"/>
        </form>
        
    </body>
</html>